<div class='container'>
  <% @users.each do |user| %>
   <div class='row card-row'>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
      <div class='col-md-8 col-xs-12 col-lg-12 card'>
        <p>
          <%= user.email %>
        </p>
        <div class='pull-left'>
          <%= link_to t('articles'), user_path(user), class: 'button' %>
        </div>
      </div>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
    </div>
  <% end %>
</div>